
<!-- ! Code used for custom pipes -->
<!-- ? I Made this page purelely for the piping part.-->
<!-- ? That is also why i used a premade template. so i could focus on the pipes-->
<!-- * Bootstrap template from https://bbbootstrap.com/snippets/product-ecommerce-category-page-88447519 -->

<section class="jumbotron text-center">
    <div class="container border-2" id="containerDiv">
      <h3>Need a new Gui? Dont look any further!</h3>
      <h6>Here you can find all kinds of Gui's that will fit you perfictly</h6>
    </div>
  </section>

<app-store-card></app-store-card>
