#formTag{
    width: 40%;
    margin: 5px auto;
}

#colorPicker {
    width: 200px;
    margin: 10px auto 10px auto;
    height: 40px;
}

#sectionDiv {
    width: fit-content;
    margin: 0px auto 20px auto;
}

#textPar {
    font-size: 100%;
}

#goBackButton {
    font-size: 80%;
}

#succesAdded {
    border: 3px solid #0bba28;
    background-color:  #0bba2868;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 120%;
}

#errorAdded {
    border: 3px solid #b71212;
    background-color:  #b712125c;
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
    font-size: 120%;
}

form div {
    text-align: center;
    width: 65%;
    margin: 0px auto;
}

form div label {
    font-weight: bold;
    font-size: 120%;
}

form div input {
    border: 2px solid gray;
    margin-top: 3px;
    margin-bottom: 20px;
}

