<div id="sectionDiv">
    <section class="jumbotron text-center">
        <div class="container" id="containerDiv">
        <h3>Create Combo</h3>
        <p class="lead text-muted" id="textPar">Here you can create your own combo. Select the amount of moves per combo and add the move to your combo</p>
        <p>
            <a class="btn btn-primary my-2" [routerLink]="['/combosView']" routerLinkActive="router-link-active"  role="button" id="goBackButton">Go back to overview!</a>
        </p>
        </div>
    </section>
</div>

<form id="formTag"> 
    <form #addCombosForm="ngForm" (ngSubmit)="onAddCombos(addCombosForm)" novalidate>
    <div class="form-group">
        <label for="nameCombo">Name Combo</label>
        <input type="text" class="form-control" id="nameCombo" placeholder="Name" name="nameCombo" required ngModel [(ngModel)]="nameCombo">
        <label for="discriptionCombo ">Discription Combo</label>
        <input type="text" class="form-control" id="discriptionCombo" placeholder="Discription" name="discriptionCombo"  required ngModel [(ngModel)]="discriptionCombo">
      <!--   For validating youtube URL
        https://stackoverflow.com/questions/3717115/regular-expression-for-youtube-links -->
        <label for="videoCombo">Video (link)</label>
        <input type="text" class="form-control" id="videoCombo" placeholder="Video link" name="videoCombo" required ngModel pattern="http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)(&(amp;)?‌​[\w\?‌​=]*)?">
        <label for="colorPicker">Color Combo</label>
        <input class="form-control" id="colorPicker" type="color" id="colorPicker" name="colorPicker" value="#949494" required ngModel [(ngModel)]="colorPicker">
        <button class="btn btn-primary my-2 bg-black" type="submit">Add Combo</button>

        <div id="succesAdded" role="alert" *ngIf="validForm">
            Combo Has Been Added    
        </div> 
        <div id="errorAdded" role="alert" *ngIf="invalidForm">
            <strong>ERROR: </strong>{{ errorReason }}  !
        </div>       
    </div>
    </form>
  </form>