#infoBox{
  margin-top: 70px;
}

#titletext {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #345ea8;
  font-weight: bolder;
}

#buttonAlign {
  margin-right: 7px;
}

.createButton {
  background-color: #4ab4de;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 5px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  color: #eedbcb;
  border: 2px solid #345ea8;
}

#comboBox {
  width: 20%;
}

#cardBody{
}

.createButton:hover {
  background-color: #345ea8;
  transition: 0.7s;
}

#comboCBoxOUtline
{
  border-radius: 5px;
  background-color: #D1D1D1;
  font-size: 70%;
}

#cardDiscription {
}

#containerDiv
{
  margin-top: -100px;
}

#colorDiv 
{
  border-bottom: 0px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
/*   background-color: #949494; */  
  height: 60px;
}

#albumContainer
{
  margin-top: -100px;
}
#divComboName
{
  border: 0px solid red;
  margin: 35px auto;
  width: fit-content;
  font-size: xx-large;
  font-weight: 600;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 140%;
}

#buttonParentDiv {
  margin-left: -17.5px;
}

#editButton, #deleteButton, #detailsButton
{
  width: 40%;
  margin: 5px auto;
  border-radius: 7px;
  color: black;
  font-size: 100%;
  font-weight: bold;
  margin: 3px;
}





.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }



   
.footer{
  position: absolute;
  bottom: 0px;
  width: 100%; 
}