#buttonAlign {
  margin-right: 7px;
}

#toCreateButton {
  background-color: white;
}



#comboCBoxOUtline
{
  border-radius: 5px;
  background-color: #D1D1D1;
}

#containerDiv
{
  margin-top: -100px;
}

#colorDiv 
{
  border-bottom: 0px black;
  height: 120px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
/*   background-color: #949494; */  
}

#albumContainer
{
  margin-top: -80px;
}
#divComboName
{
  border: 0px solid red;
  margin: 35px auto;
  width: fit-content;
  font-size: xx-large;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#editButton, #deleteButton, #detailsButton
{
  width: 60%;
  margin: 5px auto;
  border-radius: 7px;
  color: black;
  font-weight: 600;
}



.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }



   
.footer{
  position: absolute;
  bottom: 0px;
  width: 100%; 
}