.footerNav{
    padding: 3px;
    background-color: #345ea8;
    width: 100%;
    font-size: 80%;

    height: 30px;
    position: fixed;
    bottom: 0;

}

.footerNav a {
    text-decoration: none;
    color: #EEDBCB;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

.footerNav .footer_Logo{
    float: left;
}

.footerNavText {
    text-align:center;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.footerNav .footer_Socials{
    float: right;
}

.footer_Socials img {
    margin-right: 10px;
    
}
