<div class="container mt-100">
   <div class="row">
     <div class="col-md-4 col-sm-6">
       <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
           <div class="inner">
             <div class="main-img"><img src="assets/TokaidoFront.png" alt="Category"></div>
             <div class="thumblist"><img src="assets/TokaidoBack.png" alt="Category"><img src="assets/TokaidoDetails.png" alt="Category"></div>
           </div></a>
         <div class="card-body text-center">
           <h4 class="card-title">Tokaido Kimono Kata</h4>
           <p class="text-muted">Starting from €{{ price }} Or ${{ price | euroToDollar}}</p>
         </div>
       </div>
     </div>
   </div>