<app-header-component></app-header-component>

<form if="formTag">
    <div class="form-group">
        <label for="email">Email</label> 
        <input type="text" class="form-control" id="email" placeholder="Email">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="password">
        <div id="extra" class="form-check">
            <p>
                <span id="rememberMe"><input type="checkbox" id="remMeBox"><label for="rememberMe">Remember Me</label></span>
                <a id="signUp" role="button">Sign Up</a>
            </p>  
        </div>

    </div>
</form>