<!-- <div class="information_div">

    <p id="bigTitle">Your Belts</p>
    <p id="infoText">Here you can see all the Belts. Also when u completed an exam you can check it of by pressing the check button by the belt.</p>
</div>
 -->

 <div *ngIf="images && images.length > 0" class="carousel-container" id="slideDiv">
    <img *ngFor="let image of images; let i=index"
    [src]="image.imageSrc" [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedIndex === i}">

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}" (click)="selectedImage(i)">

        </span>
    </div>


    <div *ngIf="controls" class="btn-carousel btn-prev">
        <div class="buttonDivLeft" (click)="prevBelt()"></div>
    </div>
    
    <div *ngIf="controls" class="btn-carousel btn-next">
        <div class="buttonDivRight" (click)="nextBelt()"></div>
    </div>

 </div>


























