

 <div *ngIf="images && images.length > 0" class="carousel-container" id="slideDiv">
    <img *ngFor="let image of belts; let i=index"
    [src]="image.image"
    [ngClass]="{'image-active': selectedIndex === i}">

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}" (click)="selectedImage(i)">

        </span>
    </div>


    <div *ngIf="controls" class="btn-carousel btn-prev">
        <div class="buttonDivLeft" (click)="prevBelt()"></div>
    </div> 
    
    <div *ngIf="controls" class="btn-carousel btn-next">
        <div class="buttonDivRight" (click)="nextBelt()"></div>
    </div>

 </div>

 <div *ngFor="let belt of belts; let i=index" class="Belt_Information" [ngClass]="{'activeBelt': selectedIndex === i}">
    <p> {{belt.Belt}} </p>
    <strong>The Kata you need to know:</strong><br><span> {{belt.kata}} </span><br>
    <label for="check"> <strong>You have this belt:</strong></label><br><input type="checkbox" #check id="check" [checked]="belt.achieved" (change)="checkBelt(check.checked, belt.id, selectedIndex)"> 
</div>
