

 <div *ngIf="images && images.length > 0" class="carousel-container" id="slideDiv">
    <img *ngFor="let image of images; let i=index"
    [src]="image.imageSrc" [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedIndex === i}">

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}" (click)="selectedImage(i)">

        </span>
    </div>


    <div *ngIf="controls" class="btn-carousel btn-prev">
        <div class="buttonDivLeft" (click)="prevBelt()"></div>
    </div>
    
    <div *ngIf="controls" class="btn-carousel btn-next">
        <div class="buttonDivRight" (click)="nextBelt()"></div>
    </div>

 </div>


 <div class="Belt_Information">
    <p>BELT NAME</p>
    <strong>The Kata you need to know:</strong><span> KATA NAME</span><br>
    <label for="check"> <strong>You have this belt:</strong></label><br><input type="checkbox" id="check"> 
</div>